.custom-footer {
  background-color: orange;
  color: orange;
}

.custom-footer ion-icon {
  background-color: orange;
  color: rgb(255, 255, 255);
}

.custom-segment-button {
  background-color: orange;
  color: rgb(255, 255, 255);
}
