.login-container {
    border: 4px solid rgb(255, 157, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    --background: transparent;
    -webkit-transform: translateX(-50%) translateY(-70%);
    -moz-transform: translateX(-50%) translateY(-70%);
    -ms-transform: translateX(-50%) translateY(-70%);
    transform: translateX(-50%) translateY(-70%);
}



@media screen and (orientation: portrait) {
    .login-container {
        width: 300px;
    }
}

@media screen and (orientation: landscape) {
    .login-container {
        width: 480px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .float-left-landscape {
        float: left;
    }

    .float-right-landscape {
        float: right;
    }
}


.orange-buton{
  --background: #FFA500; /* Color de fondo naranja */
  --color: #ffffff; /* Color del texto blanco */
  --border-radius: 25px; /* Redondeo de los bordes */
  border: none; /* Eliminar el borde por defecto */
  padding: 10px 10px; /* Ajustar el tamaño del botón */
  text-align: center; /* Centrar el texto */
  display: inline-block; /* Asegurar que el botón se comporte correctamente */
}

.appName{
    --background: #FFA500; /* Color de fondo naranja */
    --color: #ffffff; /* Color del texto blanco */
}
.idioma {
    color: #ff9d00;

}
.label{
    color: #ff9d00;
}

ion-button {
  --background: #FFA500; /* Color de fondo naranja */
  --color: #ffffff; /* Color del texto blanco */
  --border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  text-align: center; /* Centrar el texto */
  border: none; /* Eliminar el borde */
}


